* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    background-color: #12005E;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 17px;
}
.nav a:hover {
    background-color: #4776E6;
    color: #FFF;
}
.center {
    min-width: 20vh;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main.container {
    background: white;
    max-width: 600px;
    min-width: 450px;
    min-height: 50vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
@media (max-width: 600px) {
    main.container {
        background: white;
        max-width: 600px;
        min-width: 300px;
        min-height: 40vh;
        padding: 1rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }
}
main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}
main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 35px;
    bottom: 0px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #8a3fcc, #3d00b8);
}
form {
    display: flex;
    flex-direction: column;
    position: relative;
}
.input-field {
    position: relative;
}
form .input-field {
    margin-bottom: 1.5rem;
}
.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}
.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8E2DE2, #4A00E0);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}
.input-field textarea:focus ~ .underline::after {
    transform: scaleX(1);
}
.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}
.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}
label.input-label{
    position: absolute;
    left: 0;
    color: rgba(0, 0, 0, 0.7);
    transform-origin: 0 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
label.textarea-label {
    position: absolute;
    left:0; top: -15px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
input:focus + label, input:not(:placeholder-shown) + label {
    transform: translateY(-1em) scale(0.9);
    font-size: 0.9rem;
}
.input-field input::placeholder {
    color: transparent;
}
form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.7rem;
    background: linear-gradient(to left, #4776E6, #8E54E9);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}
form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4775E6, #8E54E9);
}
textarea {
    outline: none;
    resize: none;
    width: 100%;
}